.picture {
    
    background-image: url("../../../assets/images/Group\ 183.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    height: 280px;
    width: 100%;
    
    margin-left: 270px;


}